pixcanvas {
	prototype: PixCanvas url(pixcanvas.tis);
	display: block;

	overflow: scroll-indicator;
	/*overflow: hidden-scroll;*/
}

pixcanvas .canvasContainer {
	position: relative;
}

pixcanvas .chunkContainer {
	position: absolute;
}

pixcanvas .chunk {
	position: absolute;
	flow: horizontal;
}

pixcanvas .chunk > img {
	position: absolute;
	display: block;
	image-rendering: pixelated;
}

pixcanvas.smoothImage .chunk > img {
	image-rendering: default !important;
}

pixcanvas span {
	width: 100%;
	height: 100%;
	position: absolute;
	color: white;
	margin: *;
}

pixcanvas .invalid > span {
	background-color: rgba(255, 0, 0, 0.25);
	content: "invalid";
}

pixcanvas .downloading > span {
	content: "loading";
	background-color: rgba(0, 0, 255, 0.25);
}