pixcanvas {
	prototype: PixCanvas url(pixcanvas.tis);
	display: block;

	overflow: scroll-indicator;
	/*overflow: hidden-scroll;*/
}

pixcanvas .canvasContainer {
	position: relative;
}

pixcanvas .chunkContainer {
	position: absolute;
}

pixcanvas .chunk {
	position: absolute;
	display:block;
	flow: horizontal;
	image-rendering: pixelated;
}

pixcanvas .invalid {
	opacity: 0.3;
}

pixcanvas .downloading > span {
	content: "loading";
	margin: *;
}