pixcanvas {
	prototype: PixCanvas url(pixcanvas.tis);
	display: block;

	overflow: scroll-indicator;
	/*overflow: hidden-scroll;*/
}

pixcanvas .canvasContainer {
	position: relative;
}

pixcanvas .chunkContainer {
	position: absolute;
}

pixcanvas .chunkContainer > img {
	position: absolute;
	image-rendering: pixelated;
}