timeslider {
	prototype: TimeSlider url(timeslider.tis);
	display: block;

	height: 100dip;

	overflow: scroll-indicator;
}

timeslider .scrollContainer {
	position: relative;
	height: 100dip;
}

timeslider .timeContainer {
	position: absolute;
}

timeslider .timeContainer > div {
	position: absolute;
	height: 60dip;
	top: 20dip;
	background-color: rgba(255, 0, 0, 0.25);
}